


.grid {
    position: relative;
    z-index: 1;
    max-width: 1100px;
    min-width: 700px;
    
   
}
.grid:hover {
    background-color: gray;
}

.cards-link {
    text-decoration: none;
    color: black;
}

.cards {
    z-index: 2;
    text-align: center;
    padding: 1vh;
    margin: 1vh;
    
    background-color: #E3E3E3;
    color: darkgreen;
}
    .profilePic {
        width: 50%;
        height: 10%;
    }
    .profileJobTitle {
        color: darkgreen;
    }
    .profileIcon{
        width: 1rem;
        height: 1rem;
    }

    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        padding: 3vh;
        overflow: visible;
    }


    /*popup*/
    .popup {
        z-index: 3;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
        visibility: hidden;
        background: rgba(37, 36, 36, 0.637);
        opacity: 0;
      }
      .popup:target {
        visibility: visible;
        opacity: 1;
      }
      
      .popup-img {
          float: left;
          width: 50vh;
          height: auto;
      }
      
    .popup-div {
        position: relative;
        top: 45vh;
        left: 17ch;
        transform: translate(-50%,-50%);
        margin: 7em auto;
        background: #fff;
        border-radius: 0.5em;
        width: 80em;
        padding: 3em;
        float: right;
      }
      
    .popup-knapp {
        padding: 0.6em;
        border-radius: 0.75em;
        text-decoration: none;
        color: white;
        background-color: red;
        box-sizing: border-box;
        transition: all 0.1s;
    }
        .popup-knapp:hover {
            background-color: black;
        }

        .slideshow-team {
            min-height: 100vh;
            background-color: #E3E3E3;
            overflow: hidden;
            height: 1500vh;
            width: 100%;
            position: sticky;
            scroll-snap-align: start;
            top: 0;
        }

        
.last {
   
        position: relative;
}