


.grid {
    position: relative;
    z-index: 1;
    height: auto;
    width: 11vw;
}
.grid:hover {
    background-color: gray;
}

.cards-link {
    text-decoration: none;
    color: black;
}

.cards {
    z-index: 2;
    text-align: center;
    padding: 1vh;
    margin-top: -40vh;
    
    background-color: #E3E3E3;
    color: darkgreen;
}
    .profilePic {
        width: 10vw;
        height: auto;
    }
    .profileJobTitle {
        color: darkgreen;
    }
    .profileIcon{
        width: 1rem;
        height: 1rem;
    }

    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        padding: 3vh;
        overflow: visible;
    }


    /*popup*/
    .popup {
        z-index: 3;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
        visibility: hidden;
        background: rgba(37, 36, 36, 0.637);
        opacity: 0;
      }
      .popup:target {
        visibility: visible;
        opacity: 1;
      }
      
      .popup-img {
          float: left;
          width: 50vh;
          height: auto;
      }
      
    .popup-div {
        position: relative;
        
        transform: translate(-50%,-50%);
        margin: 7em auto;
        background: #fff;
        border-radius: 0.5em;
        left: 25%;
        right: 55%;
        top:40%;
        padding: 3em;
        float: right;
        width: 70%;
      }
      
    .popup-knapp {
        padding: 0.6em;
        border-radius: 0.75em;
        text-decoration: none;
        color: white;
        background-color: red;
        box-sizing: border-box;
        transition: all 0.1s;
    }
        .popup-knapp:hover {
            background-color: black;
        }

        .slideshow-team {
            min-height: 100vh;
            background-color: #E3E3E3;
            overflow: hidden;
            height: 100vh;
            width: 100%;
            position: sticky;
            scroll-snap-align: start;
            top: 0;
        }

        
.last {
        position: relative;
}

@media screen and (max-width: 1400px) {
    .profilePic {
        width: 15vw;
        height: auto;
    }
}
@media screen and (max-width: 1000px) {
    .profilePic {
        width: 24vw;
        height: auto;
    }
    .grid {
        position: relative;
        z-index: 1;
        height: auto;
        width: 34vw;
    }
    .cards {
        margin-top: -20vh;
    }
    .popup-div {
        width: 90%;
        height: 100%;
        left:52%
    }
    .popup-img {
        float: left;
        width: 40vw;
        height: auto;
    }
    .popup-titel {
       
        position: relative;
        left: 30%;
    }
}
@media screen and (max-width: 600px) {
    .profilePic {
        width: 24vw;
        height: auto;
    }
    .grid {
        position: relative;
        z-index: 1;
        height: 50vh;
        width: 90vw;
    }
    .cards {
        margin-top: -20vh;
    }
    .popup-div{
        width: 110%;
        left: 75%;
    }
    .popup-img {
        width: 32vh;
        
        margin-bottom: 20px;
    }
    .popup-innhold{
        margin-top: 20px;
        width: 50%;
        position: fixed;
        left: 27%;
    }
    .img-div {
        left: -15%;
        background-color: red;
    }
}


@media screen and (max-width: 400px) {
   
    .popup-img {
        width: 28vh;
      
        margin-bottom: 20px;
    }
    
   

}

@media screen and (max-width: 350px) {
   
    .popup-img {
        width: 27vh;
      
        margin-bottom: 20px;
    }
    
   

}