body {
    margin: 0;
    /* Remove default margin around the edges */
    height: 200%;
    overflow-x: hidden;
}

#headerImg {
    width: 100%;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}


/* Navigation bar at the top */

nav {
    position: sticky;
    height: 5rem;
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    font-size: 2rem;
    text-decoration: none;
    color: black;
}

#navLogo {
    height: 100%;
}


/* Show fullpage slideshow of text and images */

.slideshow {
    min-height: 100vh;
    background-color: #cb997e;
    overflow: hidden;
}

#slogan {
    position: absolute;
    left: 50px;
    top: 200px;
}

#frontpageImg {
    height: 100vh;
}

.readMoreBtn {
    background-color: #ffe8d6;
    text-decoration: none;
    color: rgb(19, 18, 18);
    height: 50px;
    width: 100px;
    text-transform: uppercase;
    padding: 5px 10px 10px 10px;
    font-size: 1.5em;
    box-shadow: inset 0 0 0 0 #807c4d;
    transition: ease-in-out 0.8s;
    border:solid black 1px;
}

.readMoreBtn:hover {
    border: solid black 1px;
    box-shadow: inset 200px 200px 0 0 #807c4d;

}