body{
     margin: 0; /* Remove default margin around the edges */
     height: 200%;
     overflow-x: hidden;
}
#headerImg{
    width: 100%;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
/* Navigation bar at the top */
nav{
    position: sticky;
    height: 5rem;
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
nav a{
    font-size: 2rem;
}
#navLogo{
    height: 100%;
}
/* Show fullpage slideshow of text and images */
.slideshow{
    height: 100vh;
    background-color: green;
    border-bottom: 1px solid white;
}