@media (max-width: 600px) {
    .split {
        display: initial;
    }
    .bodyText {
        width: 100% !important;
        font-size: 1em !important;
    }
    .slideshow {
        min-height: 65vh !important;
        display: block;
    }
}

@media (max-width: 1280px) {
    .bodyText{
        font-size: 1.15em !important;
    }

}

@media (max-width: 1120px){
    .bodyText{
        padding-right: 0.5vw !important;
        padding-left: 1vw !important;
    }
    .split img{
        height: 300px !important;
    }

}

@media (max-width: 1020px){
    .bodyText{
        font-size: 1em !important;
        padding-right: 0vw !important;
        padding-left: 0.5vw !important;

    }

}


@media only screen and (max-width: 500px) {
    .logo-flex {
        flex-direction: column !important;
        margin-right: 0px !important;
    }
    .logo-container {
        margin-right: 0px !important;
        margin-left: 0px !important;
    }
    .logo-text {
        margin-right: 0px !important;
    }
}

@media only screen and (max-width: 380px) {
    .logo-img {
        height: 50px !important;
        width: 90px !important;
    }
    .logo-text:first-child {
        font-size: 15pt !important;
    }
    .logo-text {
        font-size: 12pt !important;
    }
}

@media only screen and (max-width: 950px) {
    .split {
        flex-direction: column;
        align-items: center !important;
        margin-top: 5vh !important;
    }
    .slideshow {
        position: relative !important;
        height: auto !important;
    }
    .bodyText {
        width: 80% !important;
        margin-top: 50px !important;
        margin-bottom: 50px !important;
    }
}

@media only screen and (min-width: 950px) and (max-height: 750px) {
    .split {
        flex-direction: column !important;
        align-items: center !important;
    }
    .slideshow {
        position: relative !important;
        height: auto !important;
    }
    .bodyText {
        width: 80% !important;
    }
}

@media only screen and (max-width: 680px) {
    .split img{
        height: 50vw !important;
    }
    .split{
        margin-top: 1vh !important;
    }
    .bodyText{
        margin-top: 10px !important;
    }
}

@media only screen and (min-width: 992px) {}

@media only screen and (min-width: 1200px) {}

/* Import external font*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap');
body {
    margin: 0;
    /* Remove default margin around the edges */
    overflow-x: hidden;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

@keyframes arrow-animation {
    0% {
        bottom: 35px;
    }
    50% {
        bottom: 50px;
    }
    100% {
        bottom: 35px;
    }
}

html {
    scroll-behavior: smooth;
}

#headerImg {
    width: 100%;
}

/* Show fullpage slideshow of text and images */

.slideshow {
    min-height: 100vh;
    background-color: #E3E3E3;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    scroll-snap-align: start;
    top: 0;
}

.odd {
    background-color: #222121;
    color: #e9e9e9;
    text-decoration-color: #e9e9e9;
        position: relative;
}

.slideshow-div {
    margin-top: 75px;
    margin-bottom: 15px;
}

.text-container {
    display: inline;
    border: solid black 1px;
}

.logo-container {
    margin: 0 auto;
    margin-left: 0px;
    position: absolute;
    top: 25%;
    width: 100%;
}

.logo-text {
    margin-left: 10px;
    color: #E3E3E3;
    font-size: 18pt;
    font-weight: 100;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.logo-text:first-child {
    font-weight: bolder;
    font-size: 30pt;
}

.green {
    color: darkgreen;
}

.orange {
    color: rgb(182, 100, 0);
}

.logo-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 0vw;
}

.logo-img {
    height: 80px;
    width: 150px;
}

.span-rebound {
    color: darkgreen;
}

.div-arrows {
    position: absolute;
    bottom: 35px;
    width: 100%;
    animation-name: arrow-animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.arrow-box {
    display: flex;
    justify-content: center;
}

.arrows {
    height: 80px;
    width: 30px;
}

.scrolling {
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

#frontpageImg {
    /*background-image: url("../images/ew.png");*/
    height: 100vh;
    position: sticky;
}

.slideshow-title {
    text-align: center;
    font-size: 2.5em;
    font-style: bold;
    text-decoration-color: black;
    text-decoration: underline 2px solid;
}

.readMoreBtn {
    background-color: #E3E3E3;
    text-decoration: none;
    color: rgb(19, 18, 18);
    width: 100px;
    padding: 6px 15px 6px 15px;
    font-size: 1.2em;
    box-shadow: inset 0 0 0 0 #222121;
    transition: ease 0.3s;
    border: solid #222121 2px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 15px;
}

.btn-on-black {
    border: solid #e9e9e9 2px;
    box-shadow: inset 0 0 0 0 #e9e9e9;
    background-color: #222121;
    color: #e9e9e9;
}

.readMoreBtn:hover {
    box-shadow: inset 200px 200px 0 0 #222121;
    color: white;
}

.btn-on-black:hover {
    box-shadow: inset 200px 200px 0 0 #e9e9e9;
    color: #222121;
}

.bodyText {
    font-size: 1.3em;
    width: 50%;
    line-height: 2;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 5vw;
    padding-right: 5vw;
}

.split {
    margin-top: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.split img {
    height: auto; 
    width: auto; 
    max-height: 350px; 
    border-radius: 7px;
    margin-left: 25px;
    margin-right: 25px;
}