/*

.nav-bar{
    display: flex;
    width: 100% !important;
    position: fixed;
    left: 0;
    top: 0;
    height: 60px;
    align-items: center;
    padding: 0;
}
.nav-logo{
    height: 30px;
    margin-right: 10px;
    margin-left: 10px;
}

.box {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .box:first-child > img { margin-right: auto; }

  /*.box:nth-child(2) > li {
      width: 100px;
}*/
  /*
  .box:last-child  > img { margin-left: auto;  }

.nav-all-items{
    list-style: none;
    padding: 0;
    margin: 10px;
}

.nav-item-li{
    width: auto;
    text-align: center; 
    margin: auto;
}
  

.nav-item-li a, .nav-item-li a:link {
    color:#000000; 
    text-decoration:none; 
    font:17px arial; 
    outline:0; 
    background-color:none;
    width:100%; 
    height:100%; 
}
*/


.nav-bar { 
    width: 100% !important;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10000;
    height: 60px;
    align-items: center;
    display: flex;
    justify-content: space-between;

}

.nav-all-items {
    list-style: none; 
    display: flex;
}

.nav-item-li { 
    width: auto;  
    text-align: center; 
    margin: 0 5px;
    padding: 5px;
}


.nav-item-li a, .nav-item-li a:link {
    color:#000000; 
    text-decoration:none; 
    font:17px arial; 
    outline:0; 
    background-color:none;
    width:100%; 
    height:100%; 
}

.nav-logo{
    width: 50px;
    margin-right: 10px;
    margin-left: 10px;
}
