/* Import external font*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap');
body {
    margin: 0;
    /* Remove default margin around the edges */
    overflow-x: hidden;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*Container with all elements*/
.container {
    /*To account for navbar
    margin-top: 60px;*/
}

/*Front page with the 2 slides parted on desktop*/
.frontPage {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
}
    /*slides on main*/
    .slide1Main {
        height: 100vh;
        width: 50%;
        display: block;
        text-align: center;
    }
        .logo-img {
            height: 10vh;
            width: 25vw;
            position: relative;
            margin-top: 40%;
        }
        .slide1Title {
            color: rgb(7, 72, 19);
            position: relative;
            margin-top: 40px;
            font-size: 4vw;
        }
    .slide2Main {
        min-height: 100vh;
        width: 50%;
        text-align: center;
        display: inline-block;
    }
        .slide2Main h2{
            margin-top: 20%;
        }
        p {
            margin: 20px 30px 0;
            padding: 10px;
            line-height: 170%;
            font-size: medium;

        }
    .div-arrows {
        position: absolute;
        width: 100%;
        display: flex;
        margin: 50vh auto 0;
        justify-content: center;
    }

    .mobileArrow {
        display: none;
    }



/*Slide 2 with written conten*/
.problemPage2 {
    min-height: 100vh;
}
    .problemPage2 h2 {
        text-align: center;
        padding-top: 80px;
    }

/*Slide 3 with 2 underSlides*/
.slides3 {
    width: 100vw;
    min-height: 50vh;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-evenly;
    align-items: flex-start;
}

    .underslides {
       width: 30%;
    }

    .underslides h3 {
        text-align: center;
    }
    .graph {
        height: auto;
        width: 80%;
        margin: 10px auto;
    }


@media only screen and (max-width: 768px){
    .slide1Main {
        width: 100%;
    }
    .slide2Main {
        width: 100%;
    }

    .underslides {
        min-width: 50%;
    }
    .desktopArrow {
        display: none;
    }
    .mobileArrow {
        display: block;
    }
}

@media only screen and (max-width: 560px){
    .underslides {
        width: 100%;
        margin-top: 50px;
    }
    .graph {
        margin: 30px;
    }
}