body {
    margin: 0;
    /* Remove default margin around the edges */
    overflow-x: hidden;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(227,227,227);
}
/*Front page with the 2 slides parted on desktop*/
.frontPage {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
}
    /*slides on main*/
    .slide1Main {
        height: 100vh;
        width: 50%;
        display: block;
        text-align: center;
        background-color: rgb(227,227,227);
    }
        .logo-img {
            height: 10vh;
            width: 25vw;
            position: relative;
            margin-top: 40%;
        }
        .slide1Title {
            color: rgb(7, 72, 19);
            position: relative;
            margin-top: 40px;
            font-size: 4vw;
        }
    .slide2Main {
        min-height: 100vh;
        width: 50%;
        text-align: center;
        display: inline-block;
        color: white;
        background-color: rgb(33,34,34);
    }
        .slide2Main h2{
            margin-top: 20%;
        }
        p {
            margin: 20px 30px 0;
            padding: 10px;
            line-height: 170%;
            font-size: medium;

        }
    .div-arrows {
        position: absolute;
        width: 100%;
        display: flex;
        margin: 50vh auto 0;
        justify-content: center;
    }
    .desktop {
        border-bottom: solid rgb(33,34,34) 3px !important;
        border-right: solid rgb(227,227,227) 3px !important;
    }

    .mobileArrow {
        display: none !important;
    }



/*Slide 2 with written conten*/
.problemPage2 {
    min-height: 300px;
    background-color: rgb(227,227,227);
    color: rgb(33,34,34);
}
    .problemPage2 h2 {
        text-align: center;
        padding-top: 80px;
    }

/*Slide 3 with 2 underSlides*/
.slides3 {
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

    .underslides {
       width: 50%;
        min-height: 120px;
        display: flex;
        flex-flow: column;
        background-color: rgb(227,227,227);
        color: rgb(33,34,34);
    }
    .u3 {
        width: 100%;
        min-height: 150px;
        margin: 0 5vw;
    }
    .underslides h3 {
        text-align: center;
    }

    .u9 img {
        width: 100%;
        margin: auto;
    }

@media only screen and (max-width: 768px){
    .slide1Main {
        width: 100%;
    }
    .slide2Main {
        width: 100%;
    }

    .underslides {
        min-width: 50%;
    }
    .desktopArrow {
        display: none !important;
    }
    .mobileArrow {
        display: flex !important;
    }
    /*.u1, .u4, .u5, .u8 {
        background-color: rgb(33,34,34);
        color: white;
    }

    .u3, .u6, .u7 {
        background-color: rgb(227,227,227);
        color: rgb(33,34,34);
    }*/
    .u3 p a {
        color: blue;
    }
    .underslides p {
        text-align: center;
        display: inline-block;
        vertical-align: middle;
    }
}

@media only screen and (max-width: 560px){
    .underslides {
        width: 100%;
        margin-top: 50px;
    }

    .u9 {
        display: none;
    }
}