
@media screen and (max-width: 980px){
    .info-sentence{
        font-size: 14pt !important;
    }
}
@media screen and (max-width: 740px){
    .slideshow{
        left: -150px !important;
        width: calc(150px + 100vw);
        font-size: 13pt !important;
    }
    .logo-flex{
        width: 100%;
    }
}
@media screen and (max-width: 612px){
    .info-sentence{
        font-size: 12pt !important;
    }
}

.rbm-text-logo{
    width: 100%;
}

.rbmvid{
    height: 100vh;
    position: sticky;

}

.solution{
    overflow: hidden;
}

.infobox-left{
    position: absolute;
    top: 25%;
    width: 98%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    
}

.infobox-text{
    width: 35%;
}

.info-sentence{
    font-size: 16pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.ss-content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;

}
.ss-solution{
    height: 150vh;
}

.rbmtall{
}

.about{
    position: absolute;
    width: 28%;
}
.pipe{
    top: 12%;
}
.filter{
    top: 32%;
}
.tubing{
    top: 55%;
}
.intake{
    top: 75%;
}
.left{
    left: 5%;
}
.right{
    right: 3%;
}