
@media screen and (max-width: 1310px){
    .ss-content{
        -webkit-box-pack: start !important;
        -webkit-justify-content: flex-start !important;
           -moz-box-pack: start !important;
            -ms-flex-pack: start !important;
                justify-content: flex-start !important;
    }

    .left{
        left: initial !important;
        right: 3% !important;
    }
    .about .info-sentence{
        font-size: 12pt !important;
    }
}

@media screen and (width: 780px) and (aspect-ratio: 655/290){
    .rbmtall{
        height: 100% !important;
    }
    .about .info-sentence{
        font-size: 10pt !important;
    }
    .about{
        width: 40% !important;
    }
}

@media screen and (max-width: 745px){
    .rbmtall{
        height: 65vh !important;
        margin-top: 12.5vh !important;
    }
    .ss-solution{
        height: 100vh !important;
    }
    .about{
        width: 45% !important;
    }
    .pipe{
        top: 3% !important;
    }
    .filter{
        top: 30% !important;
    }
    .tubing{
        top: 62% !important;
    }
    .intake{
        top: 80% !important;
    }
    .about .info-sentence{
        font-size: 8pt !important;
    }
        
}

@media screen and (max-height: 660px) and (max-width: 400px) {
    .about .info-sentence{
        font-size: 6pt !important;
    }
}

@media screen and (max-width: 421px) {
    .right{
        right: 1% !important;
    }
    .left{
        right: 1% !important;
    }
    .scaling .infobox-text .info-sentence{
        font-size: 1rem !important;
    }
}
@media screen and (max-width: 303px) {
    .right{
        right: 1% !important;
    }
    .left{
        right: 1% !important;
    }
}


@media screen and (max-width: 980px){
    .info-sentence{
        font-size: 14pt !important;
    }
}
@media screen and (max-width: 740px){
    .solutionfirst{
        left: -150px !important;
        width: -webkit-calc(150px + 100vw);
        width: -moz-calc(150px + 100vw);
        width: calc(150px + 100vw);
    }
    .info-sentence{
        font-size: 13pt !important;
    }

    .rbm-text-logo{
        width: -webkit-calc(100% + 150px) !important;
        width: -moz-calc(100% + 150px) !important;
        width: calc(100% + 150px) !important;
    }
}
@media screen and (max-width: 612px){
    .info-sentence{
        font-size: 12pt !important;
    }
}
@media screen and (max-width: 560px){
    .solutionfirst{
        left: -200px !important;
        width: -webkit-calc(200px + 100vw);
        width: -moz-calc(200px + 100vw);
        width: calc(200px + 100vw);
    }
    .info-sentence{
        font-size: 12pt !important;
    }

    .rbm-text-logo{
        width: -webkit-calc(100% + 220px) !important;
        width: -moz-calc(100% + 220px) !important;
        width: calc(100% + 220px) !important;
    }
}

/* Media tags for scaling av første slideshow*/

@media screen and (max-width: 420px){
    .scaling{
        display: -webkit-box !important;
        display: -webkit-flex !important;
        display: -moz-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }
    .infobox-left{
        display: none !important;
    }
    .solutionfirst{
        left: -100px !important;
        width: -webkit-calc(100px + 100vw);
        width: -moz-calc(100px + 100vw);
        width: calc(100px + 100vw);
    }

    .rbm-text-logo{
        width: -webkit-calc(100% + 100px) !important;
        width: -moz-calc(100% + 100px) !important;
        width: calc(100% + 100px) !important;
    }
}
@media screen and (max-width: 330px) {

    .solutionfirst{
        left: -100px !important;
        width: -webkit-calc(100px + 100vw);
        width: -moz-calc(100px + 100vw);
        width: calc(100px + 100vw);
    }

    .rbm-text-logo{
        width: -webkit-calc(100% + 100px) !important;
        width: -moz-calc(100% + 100px) !important;
        width: calc(100% + 100px) !important;
    }

}

/* media tags for scaling .gif/.mp4 header video with aspect-ratio*/

@media screen and (min-aspect-ratio: 720/540){
    .scaling{
        display: none !important;
    }
    .infobox-left{
        display: flex !important;
        top: 35% !important;
    }
    .infobox-text{
        width: 60% !important;
    }
    .infobox-left .infobox-text .info-sentence{
        font-size: 1.5vmax !important;
    }
    .solutionfirst{
        left: 0px !important;
        width: -webkit-calc(0px + 100vw);
        width: -moz-calc(0px + 100vw);
        width: calc(0px + 100vw);
    }

    .rbm-text-logo{
        width: -webkit-calc(120% + 100px) !important;
        width: -moz-calc(120% + 100px) !important;
        width: calc(120% + 100px) !important;
    }
}

@media screen and (aspect-ratio: 1024/1366){
    .scaling{
        display: -webkit-box !important;
        display: -webkit-flex !important;
        display: -moz-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }
    .infobox-left{
        display: none !important;
    }    
}
@media screen and (aspect-ratio: 768/1024){
    .scaling{
        display: -webkit-box !important;
        display: -webkit-flex !important;
        display: -moz-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }
    .infobox-left{
        display: none !important;
    }    
}



.scaling{
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: -webkit-max-content !important;
    min-height: -moz-max-content !important;
    min-height: max-content !important;
    max-height: -webkit-max-content;
    max-height: -moz-max-content;
    max-height: max-content;
    height: auto;
    text-align: center;
    -webkit-box-pack: space-evenly;
    -webkit-justify-content: space-evenly;
       -moz-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    display: none;

}

.scaling .infobox-text{
    width: 70vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

}

.scaling .info-sentence{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -webkit-justify-content: space-evenly;
       -moz-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;

}



.rbmtall{
    height: 100%;
}

.rbm-text-logo{
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
/*
.solutionfirst{
    background-image: url("rbmpanoramic.gif");
    background-position: 10% !important;
    background-repeat: no-repeat;
    background-size: 100%;
}*/

.rbmvid{
    min-width: 100%;
    height: 100vh;
    position: -webkit-sticky;
    position: sticky;
    -o-object-fit: cover;
       object-fit: cover;

}

.solution{
    overflow: hidden;
}

.infobox-left{
    position: absolute;
    top: 25%;
    width: 98%;
    justify-content: flex-end;
    display: flex;
    
}

.infobox-text{
    width: 35%;
    display: flex;
    flex-direction: column;

}

.info-sentence{
    font-size: 16pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.ss-content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            -webkit-justify-content: center;
               -moz-box-pack: center;
            justify-content: center;
    height: 100%;

}
.ss-solution{
    height: 150vh;
    box-shadow: 2px 2px 2px black;
}

.about{
    position: absolute;
    width: 28%;
}
.pipe{
    top: 12%;
}
.filter{
    top: 32%;
}
.tubing{
    top: 55%;
}
.intake{
    top: 75%;
}
.left{
    left: 5%;
}
.right{
    right: 3%;
}

.lastdiv{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 6vh;
    margin-bottom: 6vh;
    
}
.lasttext{
    display: flex;
    line-height: 170%;
    text-align: center;
}
.lastss{
    height: max-content !important;
    min-height: max-content !important;
}